body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #102E4A;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;

}

.navbar button {
    background-color: #59C9A5;
    border-radius: 4px;
    border: 1px solid white;
    font-size: 14px;
    padding: 4px 8px;
    color: #102E4A;
    font-weight: bold;
}

#about {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#about p {
    font-size: 16px;
}

.navbar button:hover {
    background-color: #8EA4D2
}

.navbar a:hover {
    background-color: #59C9A5;
    color: #102E4A;
}

#login-form {
    box-shadow: rgba(0, 0, 0, 0.50) 0 0 16px;
    width: 30%;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.1rem;
    text-align: center;
}

.linkify {
    text-decoration: underline;
    color: cadetblue;
}

#login-form form {
    padding-top: 1rem;
}

#login-form p {
    font-size: medium;
}

#login-form input {
    background: #f2f2f2;
    width: 70%;
    border: 0;
    margin: 0 0 1rem;
    padding: 1rem;
    box-sizing: border-box;
    font-size: medium;
}

#login-form input[type="submit"] {
    cursor: pointer;
    font-size: larger;
    background-color: #59C9A5;
    width: 70%;
    color: white;
    font-weight: bold;
}

.error {
    box-shadow: rgba(0, 0, 0, 0.50) 0 0 16px;
    width: 40%;
    font-size: large;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.error input {
    background-color: #59C9A5;
    color: white;
    padding: 6px;
    font-size: medium;
    font-weight: bold;
}


#prop-container {
    display: flex;
    flex-direction: row;
    margin: 5%;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 3.2rem;
}



.cards {
    box-shadow: rgba(0, 0, 0, 0.50) 0 0 16px;
    transition: 0.3s;
    width: 22%;
}

.cards:hover {
    transform: scale(1.1);
    transition: 1s ease;
}

.cards a {
    text-decoration: none;
    color: black;
}

.cards img {
    width: 100%;
    height: 11rem;
}

.add {
    width: 22%;
    height: 346px;
    box-shadow: rgba(0, 0, 0, 0.50) 0 0 16px;
    text-align: center;
}

.cards:hover {
    box-shadow: rgba(0, 0, 0, 0.50) 0 0 16px;
}

.cards-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.cards-container p {
    padding-left: 1rem;
    margin: 12px 0;
}

.bold {
    font-weight: bold;
    padding-right: 4px;
}

.fa-circle-plus {
    color: #0090C1;
    padding-top: 9rem;
    width: 100%;
    animation-duration: 2s;
    animation-duration: 2s;
}

.modal {
    display: none;
    position: fixed;
    padding-top: 50px;
    left: 0;
    top: 0;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #102E4A;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    height: auto;
}

.prop-form {
    width: 80%;
    height: 100%;
    padding-left: 5.5rem;
    color: white;
}

.prop-form input[type="text"],
input[type="file"] {
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: medium;
    width: 75%;
}

.prop-form label {
    display: block;
    font-size: 18px;
}

.prop-form div {
    flex-basis: 50%;
}

.prop-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 10%;
}

.prop-content div {
    flex-basis: 50%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.50) 0 0 16px;
    width: 35%;
    height: auto;
    margin: 7vh auto 0 auto;
}

.card img {
    width: 100%;
    height: 20%;
}

.card-container {
    padding: 2px 16px 12px 16px;
    height: auto;
}

.fa-pen-to-square {
    color: #0090C1;
    font-size: 22px
}

.fa-trash-can {
    color: #F03A47;
    font-size: 22px;
}

.right {
    float: right;
}

#register-form {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin: 20px auto 20px auto;
    padding-top: 20px;
    width: 80%;
}

#register-form label:not(.inline) {
    display: block;
    font-size: large;
}

#register-form input[type="text"],
#register-form input[type="password"] {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: medium;
    width: 70%;
}

#register-form input[type="radio"] {
    transform: scale(1.3);
}

#register-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 10%;
}

#register-content div {
    flex-basis: 50%;
}

.center {
    text-align: center;
}

.form-btns {
    width: 20%;
}

#search {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    margin: 2rem auto;
    border: 2px solid #8EA4D2;
    padding: 1rem;
}

#search input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: medium;
}

#search select {
    font-size: medium;
    display: block;
}

#search input[type="submit"] {
    width: 7rem;
}

#admin-container {
    width: 70%;
    margin: 3rem auto 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 4rem;
}

.admin-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.admin-card {
    width: 23%;
    box-shadow: rgba(0, 0, 0, 0.50) 0 0 16px;
}

.admin-card {
    padding: 0.5rem;
}

.admin-card i {
    padding-right: 1rem;
    color: #102E4A;
}

.admin-card th {
    text-align: left;
}

.stat {
    font-size: 1.75em;
    color: #0090C1;
}

.green {
    background-color: #59C9A5;
    color: white;
    padding: 6px;
    font-size: larger;
    font-weight: bold;
}

.green:hover {
    filter: brightness(1.25);
}

.red {
    background-color: #F03A47;
    color: white;
    padding: 6px;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

.red:hover {
    filter: brightness(1.25);
}

.wish {
    text-align: right;
}

.fa-thumbs-up:not(.admin) {
    font-size: 24px;
    color: #0090C1;
}

.left {
    text-align: left;
}

#sample {
    margin: auto;
    width: 30%;
}